body {
    margin: 0 auto;
    max-width: 720px;
    font-size: 18px;
    background-color: rgb(218, 148, 94);
}

h1 {
    text-align: center;
}

.largeText {
    font-size: 24px;
}

.boldText {
    font-weight: bold;
}

.error {
    color: white;
    background-color: red;
}
